@model IEnumerable<Csharp.StudentMarksheet>

@{
    ViewBag.Title = "Index";
}

<h2>Index</h2>

<p>
    @Html.ActionLink("Create New", "Create")
</p>
<table id="markSheetGrid" class="display">
    <thead>
        <tr>
            <th>
                StudentName
            </th>
            <th>
                TamilMark
            </th>
            <th>
                EnglishMark
            </th>
            <th>
                MathsMark
            </th>
            <th>
                ScienceMark
            </th>
            <th>
                SocialMark
            </th>
            <th>
                TotalMark
            </th>
            <th>
                Action
            </th>
        </tr>
    </thead>
    <tfoot>
        <tr>
            <th>
                StudentName
            </th>
            <th>
                TamilMark
            </th>
            <th>
                EnglishMark
            </th>
            <th>
                MathsMark
            </th>
            <th>
                ScienceMark
            </th>
            <th>
                SocialMark
            </th>
            <th>
                TotalMark
            </th>
            <th>
                Action
            </th>

        </tr>
    </tfoot>
    <tbody>


        @foreach (var item in Model)
        {
            <tr>
                <td>
                    @item.StudentName
                </td>
                <td>
                    @item.TamilMark
                </td>
                <td>
                    @item.EnglishMark
                </td>
                <td>
                    @item.MathsMark
                </td>
                <td>
                    @item.ScienceMark
                </td>
                <td>
                    @item.SocialMark
                </td>
                <td>
                    @item.TotalMark
                </td>
                <td>
                    @Html.ActionLink("Edit", "Edit", new { id = item.StudentId }) |
                    @Html.ActionLink("Details", "Details", new { id = item.StudentId }) |
                    @Html.ActionLink("Delete", "Delete", new { id = item.StudentId })
                </td>
            </tr>
        }
    </tbody>

</table>
<script type="text/javascript">
    $(document).ready(function () {
        $('#markSheetGrid tfoot tr').clone(true).appendTo('#markSheetGrid tfoot');
        $('#markSheetGrid tfoot tr:eq(1) th').each(function (i) {
            var title = $(this).text();
            $(this).html('<input type = "text" />');
            $('input', this).on('keyup change', function () {
                if (table.column(i).search() !== this.value) {
                    table
                        .column(i)
                        .search(this.value)
                        .draw();
                }
            });
            $('input').each(function () {
                $(this).width($(this).parent().width() - 20);
            });
        });

        var table = $('#markSheetGrid').DataTable({

            // Enable the searching
            // of the DataTable
            dom: 'Blfrtip',
            buttons: [
                {
                    extend: 'excel',
                    title: 'excel',
                    exportOptions: {
                        columns: ':visible'
                    }
                },
                {
                    extend: 'csv',
                    title: 'csv',
                    exportOptions: {
                        columns: ':visible'
                    }
                },
                {
                    extend: 'pdf',
                    title: 'pdf',
                    exportOptions: {
                        columns: ':visible'
                    }
                },
                {
                    extend: 'print',
                    exportOptions: {
                        columns: ':visible'
                    }
                },
                {
                    extend: 'colvis',
                    exportOptions: {
                        columns: ':visible'
                    }
                }
            ],
            columnDefs: [{
                targets: -1,
                visible: false
            }],
            "lengthMenu": [[10, 25, 50, -1], [10, 25, 50, "All"]]

        });
    });
</script>